* {
  
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  
  margin: 10px 10px 10px 10px;
}
.contenedorpadre {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.calculadora {

  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: #7C7E90;
  border-radius: 15px;
  border: solid #67CCD6;
  padding: 30px;
  box-shadow: 5px 5px 3px 3px #000000;
}

input {
  grid-column: 1 / -1;
  padding: 50px;
  display: flex;
  align-items: flex-end;
  background-color: #000  ;
  margin: 5px 5px 20px 5px;
  border-radius: 15px;
  border: solid rgb(0, 0, 0);
  gap: 10px;
  border: solid #67CCD6;
}
.igual {
  grid-column: span 2;
}
button {
  border: solid rgb(0, 0, 0);
  cursor: pointer;
  margin: 1px;
  padding: 0;
  border-radius: 35px;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  gap: 10px;
  background-color: #67CCD6;
}
button:hover {
  background-color: rgb(240, 229, 229);;
  color: #67CCD6;
}

#pantalla {
  font-size: 40px;
  color: #67CCD6;
  text-align: right;
  justify-items: right;
}
